@tailwind base;
@tailwind components;
@tailwind utilities;

/* Menambahkan efek garis bawah untuk link */
.nav-link {
    @apply text-black relative transition duration-300;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in {
    animation: fade-in 1s ease-out;
  }
  
  
  